@import "../defaults.scss";

.addbook {
  margin-top: $padding*1.5;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;

  h2 {
    color: transparentize($color-secondary, 0.5);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: $padding !important;
  }
}

.formGrid {
  display: grid;
  grid-template-columns: 3.5fr 2.5fr 1fr;
  gap: $padding;
}

.inputForm {
  border: solid 1px $color-border;
  border-radius: calc($padding/2);
  height: 50px;
  padding: 0 $padding;

  &::placeholder {
    color: transparentize($color-secondary, 0.66);
  }
}

.button {
  background-color: $color-primary;
  border: none;
  border-radius: calc($padding/2);
  color: white;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0.1em;
  user-select: none;
  transition: $transition;
  font-size: 0.9rem;
  padding: calc($padding*1.1) calc($padding*2.1);

  &:hover {
    background-color: darken($color-primary, 10%);
    cursor: pointer;
    transition: $transition;
  }
}
